.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  /* display: flex; */
  padding: 0px;
  margin: 0px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  z-index: 0;
}   