.profile__group {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  outline: blue 2px solid;
  box-sizing: border-box;
  /* width: 100%; */
  gap: 30px;
}

@media screen and (max-width: 800px) {
  .profile__group {
    flex-direction: column;
    gap: 22px;
  }
}