.profile__button-edit {
  margin: 5px 0 0 18px;
  padding: 0;
  align-self: center;
  min-width: 24px;
  min-height: 24px;
  border: white solid 1px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../images/Vector-edit.svg");
  background-color: black;
}

@media screen and (max-width: 917px) {
  .profile__button-edit {
    background-image: url("../../../images/Vector-edit-mobile.svg");
    margin: 3px 0 0 10px;
    min-width: 18px;
    min-height: 18px;
  }
}



