.profile__button-edit {
  margin: 5px 0 0 18px;
  padding: 0;
  align-self: center;
  min-width: 24px;
  min-height: 24px;
  background-image: url("../../../images/Edit\ Button.svg");
}

@media screen and (max-width: 917px) {
  .profile__button-edit {
    background-image: url("../../../images/Edit\ Button2.svg");
    margin: 3px 0 0 10px;
    min-width: 18px;
    min-height: 18px;
  }
}