.profile__button-edit {
  /* display: flex; */
  /* justify-self: flex-end; */
  margin: 5px 0 0 18px;
  padding: 0;
  align-self: center;
}

@media screen and (max-width: 321px) {
  .profile__button-edit {
    margin: 3px 0 0 10px;
    width: 18px;
    /* height:; */
  }
}