.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  margin: 40px auto 50px;
  padding: 0;
  max-width: 880px;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .profile {
    margin: 42px auto 36px;
    gap: 36px;
  }
}

@media screen and (max-width: 917px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width: 321px) {
  .profile {
    max-width: 282px;
  }
}