.elements {
  display: grid;
  gap: 20px 17px;
  margin: 0 auto;
  padding: 0;
  max-width: 880px;
  width: auto;
  grid-template-columns: repeat(auto-fit, minmax(282px, 282px));
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 769px) {
  .profile__group {
    gap: 20px;
  }
}