.profile__name {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  /* text-align: end; */
  /* line-height: 100%; */
  /* vertical-align: bottom; */
}

@media screen and (max-width: 321px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}


