.popup__button-close {
  position: absolute;
  top: -40px;
  right: -40px;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  background-image: url("../../../images/Close\ Icon.svg");
  border: none;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0,0,0, 0);

}

@media screen and (max-width: 1279px) {
  .popup__button-close {
    background-image: url("../../../images/Close\ Icon2.svg");
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
  }
}
