.profile__info {
  display: flex;
  align-self: center;
  margin: 0 0 0 30px;
  padding: 0;
  flex-direction: column;
  box-sizing: border-box;
}

@media screen and (max-width: 917px) {
  .profile__info {
    margin: 0;
  }
}